header#navbar,
.region-content-checklists,
header#navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
body.path-frontpage.search_style-default,
body.path-frontpage.search_style-default .body-wrapper,
.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-link:hover,
header#navbar .form-type-search .btn,
header#navbar.navbar-inverse .navbar-nav>li>a,
header#navbar.navbar-inverse .navbar-nav>li>a:hover,
header#navbar.navbar-inverse .navbar-brand,
header#navbar a,
header#navbar a:hover,
header#navbar .navbar-nav>li>a,
.ancwrap,
.content-nav.content-menu li.menu-depth-1 a .ancwrap,
.btn-primary,
body.path-frontpage.search_style-default .sitetitle,
body.path-frontpage.search_style-default,
body.path-frontpage.search_style-default .btn-searchify span,
body.path-frontpage.search_style-default input.form-search,
body.path-frontpage.search_style-default .btn-searchify,
.btn-group-vertical>.btn,
.btn-group>.btn,
.btn-group-justified>.btn-group .dropdown-menu,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.search_style-default .ui-widget-content,
.searchwrap input.form-search,
.search_style-default header#navbar,
.search_style-default header#navbar a,
.search_style-default header#navbar a:hover {
  color: #ffffff;
}
.search_style-default .searchify-menus > .btn,
.search_style-default .ui-autocomplete-field-group:hover,
.search_style-default .ui-autocomplete-field-group,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus a,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus a:hover,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus:hover,
.search_style-default .ui-menu .ui-menu-item *:hover .search_style-default .ui-menu .ui-menu-item a,
.search_style-default .ui-menu .ui-menu-item a:hover,
.search_style-default .ui-menu .ui-menu-item .ui-autocomplete-fields,
.search_style-default .ui-menu .ui-menu-item .ui-autocomplete-fields *,
.search_style-default .ui-menu .ui-menu-item,
.search_style-default .ui-menu .ui-menu-item:hover,
.search_style-default .ui-menu .ui-menu-item *:hover,
body.search_style-default header#navbar a.name.navbar-brand,
body.path-frontpage.search_style-default::-webkit-input-placeholder,
body.path-frontpage.search_style-default::-moz-placeholder,
body.path-frontpage.search_style-default:-ms-input-placeholder,
body.path-frontpage.search_style-default:-moz-placeholder,
.search_style-default header#navbar .navbar-nav>li>a:focus,
.search_style-default header#navbar .navbar-nav>li:hover>a,
.search_style-default header#navbar .navbar-nav>li>a.active,
.search_style-default header#navbar .dropdown-menu>li>a:hover,
.search_style-default header#navbar .dropdown-menu>li>a:focus,
.search_style-default header#navbar a,
.search_style-default header#navbar a:hover .ainput-group-btn,
body.search_style-default .searchwrap input.form-search,
body.search_style-default .searchwrap .input-group,
body.path-frontpage.search_style-default .form-search,
body.path-frontpage.search_style-default input.form-search,
body.path-frontpage.search_style-default .btn-searchify,
body.path-innerpage.search_style-default .searchwrap input.form-search,
.search_style-default .searchify-menus>.btn {
  color: #ffffff !important;
}
.search-type-tabs ul.nav li.active a {
  border-color: #ffffff !important;
}
.pagination > li > a .pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pager li > a,
.pager li > span,
.pagination>a,
.pagination>a:focus,
.pagination>a:hover,
.pagination>span,
.pagination>span:focus,
.pagination>span:hover {
  border-color: #4b64da !important;
}
body.search_style-default header#navbar,
ul.nav .dropdown-menu {
  background-color: #4b64da !important;
}
/* Searchify style specific colors */
body.path-frontpage.search_style-default {
  background: #4b64da; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient( #4b64da,#5a5ab0); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient( #4b64da,#5a5ab0); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient( #4b64da,#5a5ab0); /* For Firefox 3.6 to 15 */
  background: radial-gradient(  #4b64da,#5a5ab0); /* Standard syntax (must be */
}
body.path-frontpage.search_style-default .btn-searchify:hover {
  background: #3bc093; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4b64da , #4b64da); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4b64da, #4b64da); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4b64da, #4b64da); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4b64da , #4b64da); /* Standard syntax */
}
body.path-frontpage.search_style-default .body-wrapper {
  background-color: #6175d4 !important;
}
.btn-primary,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
body.search_style-default .searchwrap input.form-search,
body.search_style-default .searchwrap .input-group {
  background-color: #5a5ab0;
}
body.path-frontpage.search_style-default input.form-search,
body.path-frontpage.search_style-default .btn-searchify {
  background-color: #5a5ab0 !important;
}

.panel-title,
.help-block,
.thumbnail .caption,
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading,
.panel-default > .panel-heading,
.help-block,
.form-control,
pre,
legend,
#styleguide-header,
.navbar-brand,
.submitted,
.breadcrumb>.active,
.nav a,
.nav a:hover,
.input-group-addon,
form .input-group-btn,
form .input-group-btn>.btn a:hover {
  color: #333333;
}
.search_style-google header#navbar .navbar-nav>li>a:focus,
.search_style-google header#navbar .navbar-nav>li:hover>a,
.search_style-google header#navbar .navbar-nav>li>a.active,
.search_style-google header#navbar .dropdown-menu>li>a:hover,
.search_style-google header#navbar .dropdown-menu>li>a:focus,
.search_style-google header#navbar a,
.search_style-google header#navbar a:hover,
.search_style-google .searchify-menus > .btn {
  color: #333333 !important;
}
.img-thumbnail,
.form-control,
.dropdown-menu,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.navbar-inverse .navbar-toggle .icon-bar,
.pagination > li > a,
.pagination > li > span,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pager li > a,
.pager li > span,
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span,
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.thumbnail,
.list-group-item,
.panel,
.panel-primary > .panel-heading .badge,
.modal-content,
.carousel-indicators .active,
.breadcrumb,
.panel,
.panel-heading,
.panel-default > .panel-heading,
.panel-body,
.panel-footer,
.input-group-addon,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active,
header#navbar .navbar-nav>.open>a,
header#navbar .navbar-nav>.open>a:hover,
header#navbar .navbar-nav>.open>a:focus,
header#navbar .navbar-toggle,
header#navbar.navbar-inverse,
header#navbar .form-type-search .btn,
.input-group-btn,
.input-group-btn>.btn,
.booktree .btn-default,
ul.book-menu,
ul.book-menu li,
.btn-group-vertical>.btn,
.btn-group>.btn,
.btn-group-justified>.btn-group .dropdown-menu,
.well,
pre,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.breadcrumb,
.progress,
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus,
.panel-footer,
.panel-default > .panel-heading,
.btn-default.dropdown-toggle.active.focus,
.btn-default.dropdown-toggle.active:focus,
.btn-default.dropdown-toggle.active:hover,
.btn-default.dropdown-toggle:active.focus,
.btn-default.dropdown-toggle:active:focus,
.btn-default.dropdown-toggle:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover .open>.dropdown-toggle.btn-default.focus .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.searchify-menus > .btn {
  background-color: transparent;
}
.content-nav.content-menu li.menu-depth-1,
.content-nav.content-menu ul li,
.content-nav.content-menu ul ul,
.content-nav.content-menu ul:hover,
.content-nav.content-menu li:hover ul,
.content-nav.content-menu ul,
.content-nav.content-menu li.menu-depth-2 ul,
#styleguide-header,
#footer-wrap,
body.search_style-default .searchify-menus .btn-group.open .dropdown-toggle {
  background-color: transparent !important;
}

.form-control,
.fieldset,
.well,
.img-thumbnail,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.thumbnail,
.panel-footer,
.panel-default,
.panel-default > .panel-heading,
.well blockquote,
.navbar-default .navbar-toggle,
.list-group-item,
.jumbotron,
.input-group-addon,
header#navbar .navbar-toggle,
#styleguide-header,
.content-nav.content-menu li.menu-depth-1,
body.path-frontpage.search_style-default .btn-searchify {
  border-color: #3bc093 !important;
}
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li:hover>a,
header#navbar .navbar-nav>li>a.active,
.nav-tabs,
.panel-group .panel-footer + .panel-collapse .panel-body,
.panel-default > .panel-footer + .panel-collapse > .panel-body,
.table > thead > tr > th,
.page-header,
.breadcrumb,
.content-nav.content-menu a.menu-depth-1 > .ancwrap,
.content-nav.content-menu li.menu-depth-1 > a .ancwrap {
  border-bottom-color: #3bc093;
}
body.path-frontpage.search_style-default .btn-searchify {
  background-color: #3bc093 !important;
}
a {
  color: #3bc093;
}

body.search_style-default .searchify-menus .dropdown-menu,
.search_style-default .ui-widget-content,
.search_style-default .ui-autocomplete-field-group:hover,
.search_style-default .ui-autocomplete-field-group,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus a,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus a:hover,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus,
.search_style-default .ui-menu .ui-menu-item.ui-state-focus:hover,
.search_style-default .ui-menu .ui-menu-item *:hover .search_style-default .ui-menu .ui-menu-item a,
.search_style-default .ui-menu .ui-menu-item a:hover,
.search_style-default .ui-menu .ui-menu-item .ui-autocomplete-fields,
.search_style-default .ui-menu .ui-menu-item .ui-autocomplete-fields *,
.search_style-default .ui-menu .ui-menu-item,
.search_style-default .ui-menu .ui-menu-item:hover,
.search_style-default .ui-menu .ui-menu-item *:hover,
.search_style-default .ui-state-disabled,
.search_style-default .ui-menu .ui-menu-divider,
.search_style-default .ui-widget-content .ui-state-disabled,
.search_style-default .ui-widget-header .ui-state-disabled {
  background-color: #536bdc !important;
}
