@media (min-width: 768px) and (max-width: 1169px) {
  header#navbar .navbar-nav>li>a {
    text-transform: none;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
  }
  header#navbar .navbar-nav>li>a:focus,
  header#navbar .navbar-nav>li:hover>a,
  header#navbar .navbar-nav>li>a.active {
    border-bottom: 0px solid;
    border-bottom: none;
  }
  header#navbar .navbar-nav > li > a:focus,
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .navbar-nav > li > a.active,
  header#navbar .navbar-nav li a:focus,
  header#navbar .navbar-nav li a:hover,
  header#navbar .navbar-nav li a.active,
  header#navbar .dropdown-menu>li>a:focus,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active {
    border-left: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 30px;
  }
  .region-navigation {
    max-width: 100%;
  }
  .navbar-header {
    margin-top: 0;
    text-align: center;
  }
  header#navbar .logo {
    text-align: left;
  }
  header#navbar .name.navbar-brand {
    width: 50%;
    text-align: left;
  }
  body header#navbar > .container {
    width: 96% !important;
    margin-left: 2% !important;
  }
  body header#navbar .navbar-collapse.collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  .breadcrumb,
  header#navbar .navbar-toggle,
  body.path-frontpage header#navbar .navbar-toggle {
    display: none !important;
  }
  body.path-innerpage.search_style-google .searchwrap,
  body.path-innerpage.search_style-bing .searchwrap {
    width: 100%;
    display: block;
  }
  body.search_style-google.path-innerpage .input-group.card-raised,
  body.search_style-bing.path-innerpage .input-group.card-raised {
    width: 100%;
  }
  .search-type-tabs ul.nav li {
    display: inline-block !important;
    width: auto !important;
  }
  .search-type-tabs ul.nav {
    width: auto !important;
    display: inline-block !important;
  }
  .navbar-collapse.collapse {
    display: block !important;
  }
  .navbar-collapse.collapse > nav {
    display: inline-block !important;
  }
  .searchify-menus {
    width: 50px;
  }
  .searchify-menus .btn {
    padding-left: 0px !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
