html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: lighter;
  letter-spacing: 1px;
  background-attachment: fixed;
  min-height: 95%;
}
body.path-frontpage {
  height: 100%;
}
body.path-frontpage .body-wrapper {
  height: 100%;
}
body header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-top.scrolled,
header#navbar.navbar-fixed-bottom.scroll-top {
  transition: all 0.4s ease-in-out 0.1s;
}
body header#navbar.navbar-fixed-top.scroll-top,
header#navbar.navbar-fixed-top.scroll-top,
header#navbar.navbar-fixed-bottom.scroll-top {
  transition: all 0.4s ease-out-in 0.1s;
}
#footer-wrap {
  padding-bottom: 30px;
  padding-top: 30px;
}
.main-container {
  background-color: rgba(255,255,255,0.1);
}
.field-label {
  font-weight: normal;
}
#navbar,
.navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}
h2.block-title {
  font-size: 26px;
}
body.navbar-is-fixed-top .main-container {
  margin-top: 10px;
}
.region-navigation {
  max-width: 25%;
  padding-top: 4px;
}
.navbar-header {
  margin-top: 5px;
}
header#navbar nav {
  max-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body.path-innerpage header#navbar .navbar-nav>li {
  margin-top: 5px;
}
body.path-innerpage header#navbar .navbar-nav>li>a {
  text-transform: none;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
body.path-innerpage header#navbar .navbar-nav>li>a.active {
  border-bottom: 1px solid;
}
header#navbar #navigation {
  border: none;
}
header#navbar .logo {
  margin-top: 0px;
}
header#navbar .logo img {
  height: 30px;
  width: auto;
}
header#navbar .navbar-toggle {
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body header#navbar {
  padding-top: 10px !important;
}
.homepage-hero-text {
  padding-top: 50px;
  padding-bottom: 70px;
  display: block;
  clear: both;
  float: left;
  width: 100%;
}
.homepage-hero-text h1,
.homepage-hero-text h2,
.homepage-hero-text h3 {
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 28px;
  margin-bottom: 20px;
}
.homepage-hero-text a {
  text-decoration: underline !important;
}
.homepage-hero-text .hero-desc {
  line-height: 1.8em;
  letter-spacing: 2px;
}
.navbar-brand {
  height: 40px;
  padding: 5px 10px;
  font-size: 25px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
}
label {
  font-weight: 400;
}
/* all ms- are abbrivation of searchify settings */
.ms-intented-menu .content-nav.content-menu li.menu-depth-1 .dropdown-menu {
  padding-left: 5px !important;
}

.angled-edge {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}
.breadcrumb {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid #ae8ccd;
}
.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
aa {
  transition: all ease-in-out 0.6s !important;
}
a.btn {
  transition: all 0.6s ease !important;
  -webkit-transition: all 0.6s ease !important;
  -moz-transition: all 0.6s ease !important;
}
.searchify-menus {
  float: right;
}
.searchify-menus > ul {
  min-width: 400px;
}
.searchify-menus > .btn {
  border: none;
  background-image: none;
  box-shadow: none;
  font-size: 2em;
}
.force-hide,
body.path-innerpage.path-search .main-container .input-group.card-raised,
body.path-innerpage.path-search .main-container .form-type-search > label,
body.path-innerpage.path-search .block-system>h2 {
  display: none !important;
}
.search-type-tabs ul.nav,
.search-type-tabs ul.nav li {
  border: none;
  margin-top: 0px;
}
.search-type-tabs ul.nav li:hover a,
.search-type-tabs ul.nav li a:hover,
.search-type-tabs ul.nav li a {
  padding: 5px !important;
  border: none;
}
.searchwrap form>.form-item {
  margin-bottom: 0px;
}
.search-type-tabs ul.nav li.active a {
  font-weight: 300;
  border-bottom: 2px solid #ffffff;
}


/* Auto complete stuffs */
.ui-widget-content {
  border: none;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 0.9em;
  box-shadow: none !important;
  padding: 15px !important;
}
.ui-autocomplete-field-group:hover,
.ui-autocomplete-field-group {
  font-weight: 300;
  font-size: 1.1em;
  opacity: 1;
  background-image: none;
  list-style: none;
  box-shadow: none !important;
}
.ui-menu .ui-menu-item,
.ui-widget-content li.ui-menu-item {
  list-style-image: none;
  margin-bottom: 5px;
}
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus a,
.ui-menu .ui-menu-item.ui-state-focus a:hover,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item *:hover .ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item .ui-autocomplete-fields,
.ui-menu .ui-menu-item .ui-autocomplete-fields *,
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item:hover,
.ui-menu .ui-menu-item *:hover {
  border: none !important;
  padding: 0px;
}
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item:hover {
  margin: 5px 10px;
  box-sizing: border-box !important;
}
.ui-state-disabled,
.ui-menu .ui-menu-divider,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 1 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important;
  box-sizing: content-box !important;
  margin: 0px !important;
  border: none !important;
  background-image: none !important;
}
.btn-default.dropdown-toggle.active.focus,
.btn-default.dropdown-toggle.active:focus,
.btn-default.dropdown-toggle.active:hover,
.btn-default.dropdown-toggle:active.focus,
.btn-default.dropdown-toggle:active:focus,
.btn-default.dropdown-toggle:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover .open>.dropdown-toggle.btn-default.focus .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  box-shadow: none;
}
