/* Google style colors */
body.search_style-google,
body.search_style-google .searchwrap input.form-search,
body.search_style-google .searchwrap .input-group,
body.path-frontpage.search_style-google input.form-search,
.search_style-google .ui-state-disabled,
.search_style-google .ui-menu .ui-menu-divider,
.search_style-google .ui-widget-content .ui-state-disabled,
.search_style-google .ui-widget-header .ui-state-disabled,
.search_style-google .ui-widget-content,
.search_style-google .ui-autocomplete-field-group:hover,
.search_style-google .ui-autocomplete-field-group,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus a,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus a:hover,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus:hover,
.search_style-google .ui-menu .ui-menu-item *:hover .search_style-google .ui-menu .ui-menu-item a,
.search_style-google .ui-menu .ui-menu-item a:hover,
.search_style-google .ui-menu .ui-menu-item .ui-autocomplete-fields,
.search_style-google .ui-menu .ui-menu-item .ui-autocomplete-fields *,
.search_style-google .ui-menu .ui-menu-item,
.search_style-google .ui-menu .ui-menu-item:hover,
.search_style-google .ui-menu .ui-menu-item *:hover,
.search_style-google .ui-state-disabled,
.search_style-google .ui-menu .ui-menu-divider,
.search_style-google .ui-widget-content .ui-state-disabled,
.search_style-google .ui-widget-header .ui-state-disabled,
body.path-frontpage.search_style-google input.form-search,
body.path-frontpage.search_style-google .btn-searchify {
  background-color: #ffffff !important;
}
.search_style-google .ui-autocomplete-field-group,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus a,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus a:hover,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus,
.search_style-google .ui-menu .ui-menu-item.ui-state-focus:hover,
.search_style-google .ui-menu .ui-menu-item *:hover .search_style-google .ui-menu .ui-menu-item a,
.search_style-google .ui-menu .ui-menu-item a:hover,
.search_style-google .ui-menu .ui-menu-item .ui-autocomplete-fields,
.search_style-google .ui-menu .ui-menu-item .ui-autocomplete-fields *,
.search_style-google .ui-menu .ui-menu-item,
.search_style-google .ui-menu .ui-menu-item:hover,
.search_style-google .ui-menu .ui-menu-item *:hover,
.search_style-google .ui-widget-content,
body.path-frontpage.search_style-google .btn-searchify,
body.path-frontpage.search_style-google .btn-searchify:hover,
body.path-frontpage.search_style-google input.form-search,
body.path-frontpage.search_style-google .btn-searchify,
body.search_style-google .pagination>li.active a {
  color: #333333 !important;
}
body.search_style-google .search-type-tabs ul.nav li.active a {
  border-bottom-color: #4285f4 !important;
}
body.search_style-google header#navbar a.name,
body.path-innerpage.search_style-google .btn-searchify .fa,
.search_style-google header#navbar .search-type-tabs ul.nav li.active a,
body.search_style-google .pagination>li a,
body.search_style-google .pagination>li,
body.search_style-google h3.search-result__title,
body.search_style-google h3.search-result__title a {
  color: #4285f4 !important;
}
body.search_style-google header#navbar {
  background-color: #fafafa !important;
}
body.search_style-google .search-link.hidden cite {
  color: #006621;
}
body.path-frontpage.search_style-google .btn-searchify {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f2f2f2);
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
body.path-frontpage.search_style-google .btn-searchify:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f2f2f2);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f2f2f2);
  background-image: -o-linear-gradient(top,#f8f8f8,#f2f2f2);
  border-color: #c6c6c6;
}
body.search_style-google .pagination>li a,
body.search_style-google .pagination>li {
  background-color: transparent !important;
}
.btn-primary,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #ffffff !important;
}
body.search_style-google .body-wrapper {
  height: 100%;
  opacity: 0.96;
  width: 100%;
  float: left;
  clear: both;
}
body.search_style-google header#navbar > .nav-container {
  width: 96%;
  margin-left: 2%;
}
body.path-frontpage.search_style-google .searchbar-inner-wrap {
  text-align: center;
}
body.search_style-google.path-innerpage .input-group.card-raised {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 586px;
}
body.search_style-google.path-innerpage .main-container .form-type-search > label {
  display: none;
}
body.search_style-google .form-search {
  border: none;
}
body.search_style-google .searchwrap input.form-search {
  border: none !important;
}
body.path-frontpage.search_style-google .sitename {
  margin-bottom: 15px;
}
body.path-frontpage.search_style-google .sitename img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}
body.path-frontpage.search_style-google .sitetitle {
  font-size: 46px;
  vertical-align: text-bottom;
  line-height: 0;
}
.searchbox_intro {
  display: none;
}
body.path-frontpage.search_style-google .searchbar-container {
  padding-top: 150px;
  padding-bottom: 150px;
}
ul.search-results li.list-group-item {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}
.search-link.hidden {
  display: block !important;
  width: 100%;
  overflow: hidden;
}
.search-link.hidden cite {
  font-style: normal !important;
}
h3.search-result__title {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 1.5em;
}
p.search-result__snippet {
  padding: 0px;
  margin: 0px;
}
body.search_style-google .pagination>li a,
body.search_style-google .pagination>li {
  border: none !important;
  padding: 5px;
  font-weight: 500;
}
body.path-frontpage.search_style-google input.form-search {
  display: block;
  width: 585px;
  clear: both;
  float: none;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 44px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
body.path-frontpage.search_style-google input.form-search,
body.path-frontpage.search_style-google .btn-searchify {
  border: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 100;
}
body.path-frontpage.search_style-google .btn-searchify span,
body.path-innerpage.search_style-google .btn-searchify .fa {
  display: block;
}
body.path-frontpage.search_style-google .btn-searchify .fa,
body.path-innerpage.search_style-google .btn-searchify span {
  display: none;
}
body.path-innerpage.search_style-google .searchwrap {
  width: 585px;
  display: inline-block;
}
body.path-frontpage.search_style-google .input-group.card-raised {
  box-shadow: none;
  float: left;
  display: block;
  clear: both;
  width: 100%;
}
body.path-innerpage.search_style-google header#navbar a.name.navbar-brand {
  font-weight: 500 !important;
}
body.path-innerpage.search_style-google.path-search .block-system>h2 {
  display: none;
}
body.path-frontpage.search_style-google .btn-searchify {
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}
body.path-frontpage.search_style-google .btn-searchify:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete-field-group:hover,
.ui-autocomplete-field-group {
  box-shadow: none !important;
}
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item:hover {
  box-sizing: border-box !important;
}
.search-type-tabs ul.nav li.active a {
  font-weight: 500 !important;
  border-bottom: 3px solid #4285f4 !important;
}

@media (max-width: 767px) {
  body.navbar-is-fixed-top .main-container {
    margin-top: 90px !important;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 140px !important;
  }
}

@media (min-width: 768px) and (max-width: 1169px) {
  body.path-innerpage .searchwrap {
    width: 430px !important;
  }
  body.path-innerpage .input-group.card-raised {
    width: 420px !important;
  }
  body.navbar-is-fixed-top .main-container {
    margin-top: 10px !important;;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 60px !important;;
  }
}
