{#
/**
 * @file
 * input--search.html.twig
 *
 * Markup for Bootstrap search forms.
 */

#}
<div class="input-group card-raised">
  <input{{ attributes }} />
    <span class="input-group-btn">
    <button class="btn btn-searchify" type="submit">
      <span>{{ search_text }}</span> <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>
    </span>
{{ children }}
</div>
