{#
/**
 * @file
 * Theme override for an item list of search results.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: An list of contextual data associated with the list. For search
 *   results, the following data is set:
 *   - plugin: The search plugin ID, for example "node_search".
 *
 * @see template_preprocess_item_list()
 */
#}



{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 *
 * @see template_preprocess_item_list()
 */
#}
{% set list_type = 'ul' %}
{%
  set classes = [
    'search-results',
    'list-group',
    context.plugin ~ '-results',
  ]
%}
{%- if items or empty -%}
  <div class="item-list">
		{%- if results_count -%}
		<div class = "search-summary">
			Keyword <strong>{{ keyword }}</strong> give about {{ results_count }} result(s).
		</div>
		{%- endif -%}
    {%- if title is not empty -%}
      <h3 class = "hidden">{{ title }}</h3>
    {%- endif -%}
    {%- if items -%}
      <{{ list_type }}{{ attributes.addClass(classes) }}>
        {%- for item in items -%}
          <li{{ item.attributes.addClass("list-group-item") }}>{{ item.value }}</li>
        {%- endfor -%}
      </{{ list_type }}>
    {%- else -%}
      {{- empty -}}
    {%- endif -%}
  </div>
{%- endif %}
