body.path-frontpage.search_style-default .body-wrapper {
  height: 100%;
  opacity: 0.96;
  width: 100%;
  float: left;
}
body.path-frontpage.search_style-default .form-search {
  border: none;
  height: 60px;
}
body.search_style-default .searchwrap input.form-search {
  border: none !important;
}
body.search_style-default .searchwrap form>.form-item {
  margin-bottom: 0px;
}
body.path-frontpage.search_style-default .sitename {
  margin-bottom: 15px;
}

body.path-frontpage.search_style-default .sitename img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}
body.path-frontpage.search_style-default .sitetitle {
  font-size: 56px;
  vertical-align: text-bottom;
  line-height: 0;
}
.searchbox_intro {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
}
body.path-frontpage.search_style-default .searchbar-container {
  padding-top: 150px;
  padding-bottom: 150px;
}
body.path-frontpage.search_style-default input.form-search,
body.path-frontpage.search_style-default .btn-searchify {
  height: 60px;
  border: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 100;
}
body.path-frontpage.search_style-default .btn-searchify span,
body.path-innerpage.search_style-default .btn-searchify .fa {
  display: block;
}
body.path-frontpage.search_style-default .btn-searchify .fa,
body.path-innerpage.search_style-default .btn-searchify span {
  display: none;
}
body.path-innerpage.search_style-default .searchwrap {
  width: 500px;
}
body.path-innerpage.search_style-default .input-group.card-raised {
  box-shadow: none;
}
body.path-innerpage.search_style-default header#navbar a.name.navbar-brand {
  font-weight: 500 !important;
}
body.path-frontpage.search_style-default .btn-searchify {
  font-size: 18px;
  padding-left: 45px;
  padding-right: 45px;
}
.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.search-type-tabs ul.nav li {
  margin-top: 0px;
}
.search-results h3 {
  margin: 0 !important;
}
.list-group {
  margin-top: 15px;
}
@media (max-width: 767px) {
  body.navbar-is-fixed-top .main-container {
    margin-top: 90px !important;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 140px !important;
  }
  body.path-frontpage.search_style-default .searchbar-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  body.path-frontpage.search_style-default .searchbar-container .searchbar-inner-wrap {
    text-align: center;
  }
  body.path-frontpage.search_style-default .sitename {
    margin-bottom: 30px;
  }
  body.path-frontpage.search_style-default .sitename img {
    margin-bottom: 15px;
  }
  body.path-frontpage.search_style-default .sitename .sitetitle {
    margin-bottom: 15px;
    width: 100%;
    float: left;
    clear: both;
  }
  body.path-frontpage.search_style-default .sitename .searchbox_intro {
    margin-bottom: 15px;
  }
  body.path-frontpage.search_style-default .searchwrap {
    display: block;
    width: 100%;
    clear: both;
    float: left;
    background-color: transparent !important;
  }
  body.path-innerpage.search_style-default .searchwrap {
    width: 90%;
    margin-left: 5%;
    clear: both;
    display: block;
    float: left;
  }
  body.path-frontpage.search_style-default .searchwrap input.form-search {
    margin-bottom: 15px;
  }
  body.path-frontpage.search_style-default .searchwrap input.form-search,
  body.path-frontpage.search_style-default .searchwrap .input-group,
  body.path-frontpage.search_style-default .searchwrap .input-group-btn,
  body.path-frontpage.search_style-default .searchwrap .input-group-btn button.btn {
    display: block !important;
    width: 100%;
    clear: both;
    float: left;
    box-shadow: none;
  }
  body.path-frontpage.search_style-default .searchwrap .input-group {
    background-color: transparent !important;
  }
  body.path-innerpage.search_style-default .navbar-collapse.collapse {
    padding: 0px;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1169px) {
  body.navbar-is-fixed-top .main-container {
    margin-top: 10px !important;;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 60px !important;;
  }
}
