body.path-frontpage {
  background-image: url(bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}
body.path-innerpage {
  background-image: none !important;
}
body.search_style-bing,
body.search_style-bing .searchwrap input.form-search,
body.search_style-bing .searchwrap .input-group,
body.path-frontpage.search_style-bing input.form-search {
  background-color: #ffffff;
}
.ui-widget-content,
body.path-frontpage.search_style-bing input.form-search,
.ui-autocomplete-field-group:hover,
.ui-autocomplete-field-group,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus a,
.ui-menu .ui-menu-item.ui-state-focus a:hover,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item *:hover .ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item .ui-autocomplete-fields,
.ui-menu .ui-menu-item .ui-autocomplete-fields *,
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item:hover,
.ui-menu .ui-menu-item *:hover,
.ui-state-disabled,
.ui-menu .ui-menu-divider,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-color: #ffffff !important;
}
body.search_style-bing header#navbar,
body.path-frontpage.search_style-bing .btn-searchify:hover {
  background-color: #fafafa !important;
}
body.search_style-bing header#navbar a.name,
body.path-innerpage.search_style-bing .btn-searchify .fa,
h3.search-result__title,
h3.search-result__title a {
  color: #4285f4 !important;
}

body.path-frontpage.search_style-bing .sitetitle,
body.path-frontpage.search_style-bing .btn-searchify,
body.path-innerpage.search_style-bing .searchwrap .input-group-btn,
body.path-innerpage.search_style-bing .btn-searchify .fa,
body.path-frontpage.search_style-bing .btn-searchify,
body.path-frontpage.search_style-bing .btn-searchify:hover {
  color: #ffffff !important;
}
.ui-widget-content,
.ui-autocomplete-field-group:hover,
.ui-autocomplete-field-group,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus a,
.ui-menu .ui-menu-item.ui-state-focus a:hover,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item *:hover .ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item .ui-autocomplete-fields,
.ui-menu .ui-menu-item .ui-autocomplete-fields *,
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item:hover,
.ui-menu .ui-menu-item *:hover,
body.search_style-bing .pagination>li a,
body.search_style-bing .pagination>li,
body.search_style-bing .pagination>li.active a,
body.path-frontpage.search_style-bing input.form-search {
  color: #333333 !important;
}
body.search_style-bing .pagination>li a,
body.search_style-bing .pagination>li {
  background-color: transparent !important;
}
body.search_style-bing .pagination>li.active a,
body.path-frontpage.search_style-bing input.form-search {
  border-color: #fafafa !important;
}
body.search_style-bing .pagination>li a,
body.search_style-bing .pagination>li,
body.path-innerpage.search_style-bing .searchwrap .input-group-btn {
  border-color: #ffffff;
  background-color: #4285f4;
}
body.path-frontpage.search_style-bing .btn-searchify {
  background-color: #0c8484 !important;
}
body.path-frontpage.search_style-bing .btn-searchify:hover {
  border-color: #333333;
}
body.search_style-bing .body-wrapper {
  height: 100%;
  opacity: 0.96;
  width: 100%;
  float: left;
  clear: both;
}
body.search_style-bing header#navbar > .nav-container {
  width: 96%;
  margin-left: 2%;
}
body.path-frontpage.search_style-bing .searchbar-inner-wrap {
  text-align: center;
}
body.search_style-bing.path-innerpage .input-group.card-raised {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 586px;
}
body.search_style-bing.path-innerpage .main-container .input-group.card-raised {
  width: 100% !important;
  display: none;
}
body.search_style-bing.path-innerpage .main-container .form-type-search > label {
  display: none;
}
body.search_style-bing .form-search {
  border: none;
}
body.search_style-bing .searchwrap input.form-search {
  border: none !important;
}
body.path-frontpage.search_style-bing .sitename {
  margin-bottom: 15px;
  display: table-cell;
  text-align: right;
  width: 30%;
  margin-right: 30px;
  padding-right: 30px;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
}
body.path-frontpage.search_style-bing .sitename img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}
body.path-frontpage.search_style-bing .sitetitle {
  font-size: 46px;
  vertical-align: text-bottom;
  line-height: 0;
  font-weight: 400;
}
.searchbox_intro {
  display: none;
}
body.path-frontpage.search_style-bing .searchbar-container {
  padding-top: 150px;
  padding-bottom: 150px;
}
body.path-frontpage.search_style-bing .searchbar-container .searchbar-inner-wrap {
  display: table;
  width: 100%;
}
body.path-frontpage.search_style-bing .searchbar-container .siteslogan {
  display: table-cell;
}
body.path-frontpage.search_style-bing .searchbar-container .searchwrap {
  display: block;
  width: auto;
  padding-top: 15px;
}
ul.search-results li.list-group-item {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 300;
}
.search-link.hidden {
  display: block !important;
  width: 100%;
  overflow: hidden;
}
.search-link.hidden cite {
  font-style: normal !important;
  font-weight: 400;
}
h3.search-result__title {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 1.5em;
}
p.search-result__info,
p.search-result__snippet {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}
body.search_style-bing .pagination>li a,
body.search_style-bing .pagination>li {
  border: none !important;
  padding: 5px 10px !important;
  font-weight: 500;
  border: 3px solid #ffffff !important;
}
body.search_style-bing .pagination>li.active a {
  border: 3px solid #e0e0e0 !important;
}
body.path-frontpage.search_style-bing input.form-search {
  height: 44px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #fefefe !important;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
body.path-frontpage.search_style-bing input.form-search {
  border: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 100;
}
body.path-frontpage.search_style-bing .btn-searchify {
  font-family: 'Source Sans Pro', sans-serif !important;
}
body.search_style-bing .btn-searchify .fa {
  display: block;
}
body.search_style-bing .btn-searchify span {
  display: none;
}
body.path-innerpage.search_style-bing .searchwrap .input-group-btn {
  border: 2px solid #ffffff;
}
body.path-innerpage.search_style-bing .searchwrap {
  width: 585px;
  display: inline-block;
}
body.path-frontpage.search_style-bing .input-group.card-raised {
  box-shadow: none;
}
body.path-innerpage.search_style-bing header#navbar a.name.navbar-brand {
  font-weight: 500 !important;
}


body.path-frontpage.search_style-bing .btn-searchify {
  /* border: 1px solid #0C8484; */
  border-radius: 2px;
  cursor: default;
  text-align: center;
  height: 44px;
}

body.path-frontpage.search_style-bing .btn-searchify:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.ui-widget-content {
  border: none;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 0.9em;
  box-shadow: none !important;
  padding: 15px !important;
}
.ui-autocomplete-field-group:hover,
.ui-autocomplete-field-group {
  font-weight: 300;
  font-size: 1.1em;
  opacity: 1;
  background-image: none;
  list-style: none;
  box-shadow: none !important;
}
.ui-menu .ui-menu-item,
.ui-widget-content li.ui-menu-item {
  list-style-image: none;
  margin-bottom: 5px;
}
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus a,
.ui-menu .ui-menu-item.ui-state-focus a:hover,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields,
.ui-menu .ui-menu-item.ui-state-focus .ui-autocomplete-fields *,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item *:hover .ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item .ui-autocomplete-fields,
.ui-menu .ui-menu-item .ui-autocomplete-fields *,
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item:hover,
.ui-menu .ui-menu-item *:hover {
  border: none !important;
  padding: 0px;
}
.ui-menu .ui-menu-item,
.ui-menu .ui-menu-item.ui-state-focus,
.ui-menu .ui-menu-item.ui-state-focus:hover,
.ui-menu .ui-menu-item:hover {
  margin: 5px 10px;
  box-sizing: border-box !important;
}
.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.ui-state-disabled,
.ui-menu .ui-menu-divider,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 1 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important;
  box-sizing: content-box !important;
  margin: 0px !important;
  border: none !important;
  background-image: none !important;
}


@media (max-width: 767px) {
  body.navbar-is-fixed-top .main-container {
    margin-top: 90px !important;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 140px !important;
  }
  body.path-frontpage {
    background-position: center bottom;
  }
  body.path-innerpage .navbar-header {
    margin: 0px !important;
  }
  body.path-frontpage.search_style-bing .sitename {
    text-align: left;
    clear: both;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  body.path-frontpage.search_style-bing .searchbar-container {
    padding-top: 50px;
  }
  header#navbar .logo {
    width: auto !important;
    text-align: left !important;
    padding-left: 0px;
  }
  header#navbar .name.navbar-brand {
    width: auto !important;
    text-align: left !important;
  }
}
@media (min-width: 768px) and (max-width: 1169px) {
  body.navbar-is-fixed-top .main-container {
    margin-top: 10px !important;;
  }
  body.navbar-is-fixed-top.path-search .main-container {
    margin-top: 60px !important;
  }
  body.path-frontpage.search_style-bing .sitename {
    margin-right: 0px;
    padding-right: 10px;
  }
  body.path-frontpage.search_style-bing .sitetitle {
    font-size: 36px;
    font-weight: 300;
  }
  body.path-frontpage.search_style-bing .sitename img {
    height: 50px;
    margin-right: 0px;
  }
  body.path-innerpage.search_style-bing .searchwrap {
    width: 430px !important;
  }
  body.path-innerpage.search_style-bing .input-group.card-raised {
    width: 420px !important;
  }
}
