{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
{# Navbar #}
<div class = "body-wrapper3">

<div class = "searchbar-container container">
  <div class = "searchbar-inner-wrap">
    {% if site_name %}
      <div class = "sitename">
        {% if site_logo %}
          <img src = "{{ site_logo }}"/>
        {% endif %}
        <span class = "sitetitle">{{ site_name }}</span>
      </div>
    {% endif %}
    {% if above_searchbox %} <div class = "searchbox_intro"> {{ above_searchbox }} </div> {% endif %}
    {% if searchify_block %} <div class = "searchwrap"> {{ searchify_block }} </div> {% endif %}
  </div>
</div>

{% if toggle_frontpage_content %}
<div class="main-container {{ container }}">
  <header role="banner" id="page-header">
    {{ page.header }}
  </header> <!-- /#page-header -->

  <div class="row">

    {% if page.sidebar_first %}
      <aside class="col-sm-3" role="complementary">
        {{ page.sidebar_first }}
      </aside>  <!-- End first aside. -->
    {% endif %}

    <section{{ content_column_attributes }}>
      {% if page.highlighted %}
        <div class="highlighted">{{ page.highlighted }}</div>
      {% endif %}
      <a id="main-content"></a>
      {{ title_prefix }}
      {% if title %}
        <h1 class="page-header">{{ title }}</h1>
      {% endif %}
      {{ title_suffix }}

      {{ messages }}
      {{ tabs }}
      {{ page.help }}

      {% if action_links %}
        <ul class="action-links">{{ action_links }}</ul>
      {% endif %}

      {{ page.content }}
    </section>

    {% if page.sidebar_second %}
      <aside class="col-sm-3" role="complementary">
        {{ page.sidebar_second }}
      </aside> <!-- End second aside. -->
    {% endif %}

  </div>
</div>
{% endif %}

<footer id = "footer-wrap" class = "footer-section section footer-wrap text-center">
  <div class = "container">
    <div class = "row">
      {% if page.footer %}
      <div class = "footer-area col-sm-12 text-center">
        {{ page.footer }}
      </div>
      {% endif %}
      {% if mbase_credits %}
      <div class = "theme-credit text-center hidden">
        Drupal theme by <a href = "http://cmsbots.com" title = "Drupal theme generator">CMSbots.com</a>
      </div>
      {% endif %}
    </div>
  </div>
</footer>
</div>
